<%- include ('../_header') %>
<div>
  <select class="form-select" aria-label="Default select example" id="cariData">
    <option value="" selected disabled>pilih barang</option>
    <%for(let nama of arrayDataIn) {%>
    <option value="<%=nama.nama%>">
    <%=nama.nama%>
    </option>
  <%}%>
  </select>
</div>
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit" onclick="cari()" id="tombolCari">
    cari
  </button>
</div>
<%- include ('../_message') %>




<%for(let data of filteredOut){%>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <!-- <h5 class="card-title"><%= data.id%> </h5> -->
    <p class="card-text"><%= data.tanggal%></p>
  </div>
  <ul class="list-group list-group-flush">
    <%for (let item of data.items){%>

    <li class="list-group-item"><%= item.nama_barang %>(<%= item.harga_satuan %>) <%= item.jumlah %>x</li>
    <%}%>

  </ul>
  <div class="card-body">
    <h5 class="card-title"><%= data.total_belanja%> </h5>

  </div>
</div>
<%}%>

<script>
function cari(){
const optionElemen = document.getElementById("cariData")
const optionValue = optionElemen.value

 fetch("/currentBalance/listOut", {
        method: "POST",
        headers: { "Content-type": "application/json" },
        body: JSON.stringify({optionValue}),
      })
        .then((response) => response.json())
        .then((data) => console.log(data))

        .catch((error) => {
          console.log("error");
        
        });
        location.reload()
      }
</script>