<%- include ('_header') %>
<h1>dashboard</h1>
<div class="container-md">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">nama barang</th>
        <th scope="col">total IN</th>
        <th scope="col">total OUT</th>
        <th scope="col">balance</th>

      </tr>
    </thead>
    <tbody class="table-group-divider" id="tbody">
      <% for ( let data of combinedArray){ %>
      <tr>
        <td>
            <%= data.nama %>
        </td>
        <td>
            <%= data.jumlah_In %>
        </td>
        <td> 
          <%= data.total_out %>
        </td>
        <td id="balance"><%= data.balance %>
        </td>
        <% } %>
      </tr>
    </tbody>
  </table>
</div>