<!-- <table class="table table-striped table-hover w-50 p-3" id="resultTable">
    <tr>
    <th>NAMA BARANG</th>
    <th>JUMLAH</th>
    <th>HARGA SATUAN</th>
  </tr>
  <% if (typeof namabarang !== 'undefined' && namabarang.length > 0) { %>
    <% namabarang.forEach(function(data) { %>
  <tr>
    <td><%= data.nama %></td>
    <td><input type="text"></td>
    <td><%= data.harga_satuan %></td>
  </tr>

  <% }) %>
  <% } %>

</table>
</div>
<script>
    let arrayjumlah = []
    function addData(){
    const jumlah = document.getElementById('jumlah').value
    arrayjumlah.push(jumlah)
    console.log(arrayjumlah)

    const baris = document.querySelector('tr')
    const kolom = baris.querySelector('td:nth-child(2)').textContent = jumlah
    console.log(kolom)
    document.getElementById("resultTable").addEventListener("submit", function (event) {
            event.preventDefault();
        })
    }
</script> -->
<table class="table table-striped table-hover w-50 p-3" id="resultTable">
  <tr>
    <th>NAMA BARANG</th>
    <th>JUMLAH</th>
    <th>HARGA SATUAN</th>
  </tr>
  <% if (typeof namabarang !== 'undefined' && namabarang.length > 0) { %>
    <% namabarang.forEach(function(data, index) { %>
      <tr data-index="<%= index %>">
        <td><%= data.nama %></td>
        <td></td>
        <td><%= data.harga_satuan %></td>
      </tr>
    <% }) %>
  <% } %>
</table>
</div>
<script>
  let arrayjumlah = [];
  function addData() {
    const jumlah = document.getElementById('jumlah').value;
      // Mengambil elemen tr yang sesuai berdasarkan index
      const rows = document.querySelectorAll('#resultTable tr');
      let indextr = rows.length-1
      let row = rows[indextr]
      const tdJumlah = row.querySelector('td:nth-child(2)');
  
      // Memperbarui nilai kolom jumlah di tabel
      tdJumlah.textContent = jumlah;
 
 }
</script>
