<%- include ('_header') %> <%- include ('_message') %>
<div style="display: flex; flex-direction: row">
  <div
    style="
      display: flex;
      flex-direction: row;
      width: 75%;
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
    "
  >
    <% for ( let item of ItemsArray){%>
    <div>
      <div class="ui card" style="margin: 10px;">
        <div class="image">
          <img src="<%=item.image%>" style="height: 200px; width: 290px" />
        </div>

        <div class="content">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <div class="content">
              <h4 class="ui header"><%=item.name%></h4>
              <p>jumlah: <%=item.total%> kg</p>
            </div>
            <div>
              <button class="small ui button">
                <a href="/items/Add/<%=item.id%>">
                  <i class="shopping basket icon"></i>
                </a>
              </button>
            </div>
          </div>
          <div
            class="meta"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 5px;
            "
          >
            <div>
              <span class="date">harga Rp.<%=item.price%>/kg</span>
            </div>
          </div>
          <div class="description" style="overflow: auto; height: 100px">
            <%=item.desc%>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            <%=item.shop%>
          </a>
        </div>
      </div>
    </div>

    <%}%>
  </div>
  <div style="width: 25px">
    <table
      class="ui very basic collapsing celled table small"
      style="width: 25px"
      id="table"
    >
      <thead>
        <tr>
          <th>Products</th>
          <th>Jumlah</th>
          <th>Harga/kg</th>
          <th>Harga</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let fruit of fruitsData){%>
        <tr id="<%=fruit.product%>">
          <td><%=fruit.product%></td>
          <td>
            <input
              type="number"
              style="width: 50px; height: 30px; border: none"
              name="sum<%=fruit.product%>"
              value="1"
              id="inputjumlah<%=fruit.product%>"
            />
          </td>
          <td id="harga<%=fruit.product%>"><%=fruit.harga%></td>
          <td id="total<%=fruit.product%>"><%=fruit.harga%></td>
          <td>
            <button class="small ui button" id="delete">
              <a href="/items/delete/<%=fruit.id%>">delete</a>
            </button>
          </td>
        </tr>
        <%}%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" id="totalBelanja" onclick="lihatTotal()">
            total Belanja: <span id="totalBelanjaText"> Click Untuk Lihat</span>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <button
              class="fluid ui button"
              type="submit"
              onclick="checkOut()"
              disabled="true"
              id="buttonBuy"
            >
              Check Out
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script>
  //mendapatkan table dan elemen input saat elemen di load
  document.addEventListener("DOMContentLoaded", function () {
    const table = document.querySelector("table");
    const inputElements = table.querySelectorAll('input[type="number"]');

    //melaukan looping inputElement dan menambahkan event input kedalamnya
    inputElements.forEach(function (inputElement) {
      inputElement.addEventListener("input", function () {
        // mendapatkan elemen tr dengan mencari elemen terdekat menggunakan closest
        const row = inputElement.closest("tr");
        const hargaElement = row.querySelector("td:nth-child(3)");
        const tdtotal = row.querySelector("td:nth-child(4)");

        //melakukan operasi harga total
        if (hargaElement && tdtotal) {
          const hargaValue = parseFloat(hargaElement.textContent);
          const inputValue = parseFloat(inputElement.value);
          const totalValue = hargaValue * inputValue;
          // Update totalvalue kedalam html
          tdtotal.textContent = totalValue;
        }
      });
    });
  });
  function lihatTotal() {
    const totalBelanja = document.getElementById("totalBelanja");
    const totalBelanjatext = document.getElementById("totalBelanjaText");
    const button = document.getElementById("buttonBuy");
    let totalArray = [];

    const rowTotal = document.querySelectorAll("#table td:nth-child(4)");
    for (x = 0; x < rowTotal.length; x++) {
      totalArray.push(parseInt(rowTotal[x].textContent));
    }
    const reducer = (a, b) => a + b;
    const arrayreduce = totalArray.reduce(reducer);
    totalArray = arrayreduce;
    totalBelanjatext.textContent = totalArray;
    if (totalArray) {
      button.disabled = false;
    }
  }

  function checkOut() {
    const checkOut = window.confirm("apakah anda sudah yakin?");
    if (checkOut) {
      postItems();
      reloadPage();
    }
  }

  function postItems() {
    let productArray = [];
    let sumArray = [];
    let totalArray = [];
    let hargaArray = [];
    let totbelanjaArray = [];
    const rowProduct = document.querySelectorAll("#table td:nth-child(1)");
    for (x = 0; x < rowProduct.length - 2; x++) {
      productArray.push(rowProduct[x].textContent);
    }
    productArray = productArray
      .map((item) => item.trim())
      .filter((item) => item !== "");
    console.log(productArray);

    const rowSum = document.querySelectorAll("#table td:nth-child(2) input");
    for (x = 0; x < rowSum.length; x++) {
      sumArray.push(parseInt(rowSum[x].value));
    }
    console.log(sumArray);

    const rowHarga = document.querySelectorAll("#table td:nth-child(3)");
    for (x = 0; x < rowHarga.length; x++) {
      hargaArray.push(parseInt(rowHarga[x].textContent));
    }
    console.log(hargaArray);

    const rowTotal = document.querySelectorAll("#table td:nth-child(4)");
    for (x = 0; x < rowTotal.length; x++) {
      totalArray.push(parseInt(rowTotal[x].textContent));
    }
    console.log(totalArray);
    const totalBelanja = document.getElementById("totalBelanjaText");
    totbelanjaArray.push(parseInt(totalBelanja.textContent));
    console.log(totbelanjaArray);

    //fetch here
    const dataPOST = {
      product: productArray,
      sum: sumArray,
      harga: hargaArray,
      total: totalArray,
      totalBelanja: totbelanjaArray,
    };
    console.log(dataPOST);
    fetch("/items/buy", {
      method: "POST",
      headers: { "Content-type": "application/json" },
      body: JSON.stringify(dataPOST),
    })
      .then((data) => console.log(data))
      .catch((err) => {
        console.log(err);
      });
  }

  function reloadPage() {
    setTimeout(function () {
      location.reload();
    }, 100);
  }
</script>
